:root {
    --first: #414243;
    --second: #8db030;
    --third: #b7af9e;
    --fourth: #664B4D;
    --fifth: #81b622;
    --sixth: #3d550c;
    --seventh: rgb(233, 47, 0);
    /* font color primary- white */
    /* font color secondary --grey */
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-size: cover;
    background-position: center;
  }

  header {
    background: var(--first);
    color: white;
    font-family: 'Permanent Marker', cursive;
    padding: 10px 30px; 
    display: inline-flex;
    justify-content: space-between;
    align-items: left;
    font-size: 30px;
    width: 100%;
    position: fixed;
    z-index: 9999;
  }
  
  header h1 {
    padding-top: 10px;
  }
  
  header img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  
  ul li a {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
  }
  
  ul li a:hover {
    color: var(--second);
  }
  
  .nav-link {
    padding-top: 20px;
  }

.contact-info {
    color: --sixth;

}

.contact-form {
    color: --third;
}