*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/Users/bengallagher/Desktop/dogtinder/assets/resources/images/3.jpg);
    background-size: cover;
background-position: center;
}

